<div class="timeline-comment-wrapper js-comment-container">
    <a href="#"><img alt="@build-info-comentator" class="timeline-comment-avatar" data-user="747433107" height="48" src="https://avatars1.githubusercontent.com/u/2354112?v=3&s=96" width="48"></a>
    <div id="issuecomment-13687796" class="comment timeline-comment js-comment js-task-list-container owner-comment" data-body-version="edcbedcb0edcbedcb0a2cc62d8f9e055">
      <div class="timeline-comment-header " >
        <div class="timeline-comment-header-text">
          <strong>
            <a href="#build-info-comentator" class="author">{{ user_name }}</a>
          </strong>
          commented
          <a href="#issuecomment-16387796" class="timestamp">
            <time datetime="{{ timestamp }}" is="relative-time"></time>
          </a>
        </div>
      </div>
      <div class="comment-content">
        <p class="comment-form-stale">
        The content you are editing has changed. Reload the page and try again.
        </p>
        <div class="edit-comment-hide">
          <div class="comment-body markdown-body markdown-format js-comment-body">
          <b>Build status:</b> <strong class="text-{{ build_status }}">{{ build_status }}</strong>
          </br>

            <a href="{{ build_link }}"> {{ build_link }} </a>
          </div>
        </div>
        <div class="context-loader">Sending request…</div>
        <div class="form-content js-write-bucket js-suggester-container">
          <textarea class="comment-form-textarea js-comment-field js-quick-submit js-task-list-field js-size-to-fit js-suggester-field" id="issuecomment-67738916-body" name="issue_comment[body]" tabindex="1"> </textarea>
        </div>
        <div class="comment-form-error comment-form-bottom js-comment-update-error"></div>
      </div>
    </div>
</div>
